<!--Home Message Form-->

<img class="ponies" src="http://cartoonesia.com/wp-content/uploads/2014/04/Rainbow-Dash-my-little-pony-friendship-is-magic-rainbow-dash-33121844-640-585.png">

<br>
<br>

<form method="post" action="/messages">
  <label for="message">Message:</label>
  <br>
  <textarea class="commentbox" type="text" col="40" row="5" id="message" name="message"></textarea><br>
  <button>Submit</button>
</form>


<% messages.each do |message_hash| %>
  <div><a href="/messages/<%= message_hash["id"] %>"></div>
  <div><%= message_hash["message"] %></a></div>
  <a href="/messages/<%= message_hash["id"] %>/edit">Edit</a>
  <a href="/messages/<%= message_hash["id"] %>/comments/new">Comment</a>

  <br>

  <%= message_hash["likes"] %> <%= "likes" %>

  <br>

  <form method="post" action="/likes/<%= message_hash["id"] %>">
    <input type="hidden" name = "_method" value="patch" />
    <button class="buttonL">Like</button>
  </form>

  <form method="post" action="/unlike/<%= message_hash["id"] %>">
    <input type="hidden" name = "_method" value="patch" />
    <button class="buttonU">Unlike</button>
  </form>



  <form method="post" action="/messages/<%= message_hash["id"] %>">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete Message"/>

  </form>



  <br>

  <% comments.select do |comment_hash| %>
    <% if comment_hash["message_id"] == message_hash["id"] %>
      <%= comment_hash["comment"] %>
      <br>
      <br>
    <% end %>
  <% end %>
<% end %>

